@font-face {
    font-family: "Gatecrasher";
    src: url(../res/font/gatecrasher.ttf) format("truetype");
}

body{
    font-family: "Gatecrasher";
}

#game-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

#btn_container{
    height: auto;
    width: auto;
    text-align: center;
}

.inline_block{
    display: inline-block !important;
}

.height_40{
    height: 40vh !important;
}

.btn-credits {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    min-width: 10vh;
    max-width: 250px;
    max-height: 100px;
    height: auto;
    width: auto;
    margin:auto auto;
}
