@font-face {
    font-family: "Gatecrasher";
    src: url(../res/font/gatecrasher.ttf) format("truetype");
}

body{
    font-family: "Gatecrasher";
}

.btn-game {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    margin:70px;
}