@font-face {
    font-family: "Gatecrasher";
    src: url(../res/font/gatecrasher.ttf) format("truetype");
}

body{
    font-family: "Gatecrasher";
    overflow: hidden;
    background-image: "res/menus/main_background.png"
}

#game-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    height: 20vh;
}
#game-title img{
    max-height: 100%;
}

#mainmenu_container{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.btn-menu {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    width: 30%;
    height: auto;
    margin:20px;
}

#levelselector {
    background-image: "res/menus/jugar.png"
}
#howtoplay {
    background-image: "res/menus/como_jugar.png"
}
#options {
    background-image: "res/menus/opciones.png"
}
#credits {
    background-image: "res/menus/atras.png"
}


.hidden{
    display: none;
}
