@font-face {
    font-family: "Gatecrasher";
    src: url(../res/font/gatecrasher.ttf) format("truetype");
}

body{
    font-family: "Gatecrasher";
    overflow: hidden;
    background-image: url(../res/menus/main_background.png);
    background-size: cover;
}

#game-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    height: 20vh;
}
.game-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
    height: 20vh;  
}
#game-title img, .game-title img{
    max-height: 100%;
}

#mainmenu_container{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.btn-menu {
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 20PX;

    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    border: none !important;
    width: 30%;
    height: auto;
    margin:10px;
}



.hidden{
    display: none;
}
