@font-face {
    font-family: "Gatecrasher";
    src: url(../res/font/gatecrasher.ttf) format("truetype");
}

body{
    font-family: "Gatecrasher";
    
}

#options-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: auto;
}

.btn-config {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    width: 20%;
    min-width: 20%;
    max-height: 100%;
    height: auto;
    min-height: 10vh;
}

.btn-sound{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    justify-content: center;
    align-items: center;
    text-align: center;

    text-decoration: none;
    color: initial;
    height: auto;
}
#sound_container{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    margin:30px;
}

#basicbuttons_container{
    text-align: center;    
}


.hidden{
    display: none;
}
